@{
    ViewData["Title"] = "Chat";
}

<h3>Send</h3>
<div id="messages"></div>
<input id="chatbox">

<script>
    const socket = new WebSocket('ws://localhost:7028/api/ws');

    socket.onopen = function () {
        console.log("WebSocket connection established.");
    };

    socket.onmessage = function (event) {
        const messages = document.getElementById("messages");
        messages.innerHTML += `<p>${event.data}</p>`;
        console.log("Message received: ", event.data);
    };

    socket.onclose = function () {
        console.log("WebSocket connection closed.");
    };

    socket.onerror = function (error) {
        console.error("WebSocket error: ", error);
    };

    document.getElementById("chatbox").addEventListener("keyup", function (event) {
        if (event.key === "Enter") {
            socket.send(event.target.value);
            console.log("Message sent: ", event.target.value);
            event.target.value = "";
        }
    });
</script>

